[Unit]
Description=Halo Keyboard Service
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=simple
ExecStartPre=/usr/bin/loadkeys /usr/local/etc/halo_keyboard/ctrlword.map
ExecStart=/usr/local/bin/halo_kbd /usr/local/etc/halo_keyboard/yogabook1.map
ExecStop=/bin/kill -s SIGINT %p
ExecStopPost=/usr/bin/rm -f /tmp/.HaloKeyboard.lock
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
